body {
    margin: 0;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 2px solid black; */
}
.big-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    /* border: 2px solid black; */
}

.animation-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.background, .main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.clouds {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100px; /* Justera höjd efter behov */
    transform: scale(4.5); /* Lätt förstoring för att skapa djupkänsla */
    background-image: url('img/clouds.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: scroll-clouds 60s linear infinite;
}
.clouds-fast {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    transform: scale(3); /* Lätt förstoring för att skapa djupkänsla */
    height: 80px; /* Justera höjd efter behov */
    background-image: url('img/clouds2.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: scroll-clouds-fast 30s linear infinite;
}
.town {
    position: absolute;
    top: 550px;
    left: 0;
    width: 100%;
    height: 100px; /* Justera höjd efter behov */
    transform: scale(12); /* Lätt förstoring för att skapa djupkänsla */
    background-image: url('img/town.gif');
    background-repeat: repeat-x;
    background-size: contain;
    animation: scroll-town 12s linear infinite;
}
.road {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
}
.road-lines {
    position: absolute;
    top: 275px;
    left: 0;
    width: 500px;
    height: 100px; /* Justera höjd efter behov */
    transform: scale(1.5); /* Lätt förstoring för att skapa djupkänsla */
    background-image: url('img/road_line.png');
    background-repeat: repeat-x;
    animation: scroll-road-lines 1s linear infinite;
}
.pavement {
    position: absolute;
    top: 470px;
    left: 0;
    width: 100%;
    height: 100px; /* Justera höjd efter behov */
    transform: scale(3); /* Lätt förstoring för att skapa djupkänsla */
    background-image: url('img/pavement.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: scroll-pavement 6s linear infinite;
}
.lamppost {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 360px;
    transform: scale(1); /* Lätt förstoring för att skapa djupkänsla */
    background-image: url('img/lamppost.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: scroll-lamppost 2s linear infinite;
}
.airplane {
    position: absolute;
    top: 160px;
    left: 150px;
    transform: scale(2);
}
.foreground {
    position: absolute;
    top: 170px;
    left: 100%; /* Startposition till höger utanför containern */
    width: 100%;
    height: auto;
    transform: scale(2.3);
    animation: scroll-foreground 60s linear infinite; /* Anpassa hastighet här */
}
.foreground-fast {
    position: absolute;
    top: 390px; /* Placera längre ner i bild */
    left: 100%; /* Startposition till höger */
    width: 100%;
    height: auto;
    transform: scale(4); /* Lätt förstoring för att skapa djupkänsla */
    animation: scroll-foreground-fast 15s linear infinite; /* Snabbare hastighet */
}
.forest {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/forest.png');
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    animation: scroll-forest 15s linear infinite; /* Snabbare hastighet */
}
.wizard {
    position: absolute;
    top: 215px;
    left: 70px;
    transform: scale(0.7);
}

/* Animation för sidledes scroll */
@keyframes scroll-foreground {
    0% {
        left: 150%; /* Start utanför containern till höger */
    }
    100% {
        left: -180%; /* Slut utanför containern till vänster */
    }
}
@keyframes scroll-foreground-fast {
    0% {
        left: 200%; /* Start utanför containern till höger */
    }
    100% {
        left: -200%; /* Slut utanför containern till vänster */
    }
}
@keyframes scroll-clouds {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; } /* Justera för att ändra hastighet på scrollen */
}
@keyframes scroll-clouds-fast {
    0% { background-position: 0 0; }
    100% { background-position: -1000px 0; } /* Snabbare för förgrundsmoln */
}
@keyframes scroll-town {
    0% { background-position: 180px 0; }
    100% { background-position: -10px 0; } /* Justera för att ändra hastighet på scrollen */
}
@keyframes scroll-pavement {
    0% { background-position: 0 0; }
    100% { background-position: -390px 0; } /* Justera för att ändra hastighet på scrollen */
}
@keyframes scroll-lamppost {
    0% { background-position: 500px 0; }
    100% { background-position: -390px 0; } /* Justera för att ändra hastighet på scrollen */
}
@keyframes scroll-road-lines {
    0% { background-position: 0 0; }
    100% { background-position: -130px 0; } /* Justera för att ändra hastighet på scrollen */
}
@keyframes scroll-forest {
    0% { background-position: 0 0; }
    100% { background-position: -2600px 0; } /* Justera för att ändra hastighet på scrollen */
}

